html {
   box-sizing: border-box;
   //uncomment to convert rem to = 10px
   //  font-size: 62.5%;
}
*,
*:before,
*:after {
   box-sizing: border-box;
}

body {
   min-height: 100vh;
   background: rgb(238, 237, 234);
}
